<library path="lib/librqt_acquisition_controller">
 <class name="rqt_acquisition_controller/AcquisitionController" type="rqt_acquisition_controller::AcquisitionController" base_class_type="rqt_gui_cpp::Plugin">
   <description>
	 Records Vicon and Kinect Depth images
   </description>
   <qtgui>
	 <!-- optional grouping...
	 <group>
	   <label>Group</label>
	 </group>
	 <group>
	   <label>Subgroup</label>
	 </group>
	 -->
	 <label>Vicon-Kinect/XTION Data Acquisition</label>
	 <icon type="theme">media-record</icon>
	 <statustip>Woo Woo</statustip>
   </qtgui>
 </class>
</library>
